body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.drag-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area span {
    font-size: 15px;
    font-weight: 250;
    color: "black";
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    color: "black";
    border-radius: 5px;
    cursor: pointer;
}
